<!DOCTYPE html>
<html>
	<head>
		<title>Edit Profile</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<p>Edit Profile</p>
			</div>
			<div id="profileDetailWrapper">
				<div class="profileTitle">
					<p>AGE</p>
				</div>
				<div class="profileContent">
					<select>
					  <option value="20">20</option>
					  <option value="21">21</option>
					  <option value="22">22</option>
					  <option value="23">23</option>
					  <option value="24">24</option>
					  <option value="25">25</option>
					  <option value="26">26</option>
					  <option value="27">27</option>
					  <option value="28">28</option>
					  <option value="29">29</option>
					</select>
				</div>
				<div class="profileTitle">
					<p>GENDER</p>
				</div>
				<div class="profileContent">
					<select>
					  <option value="male">male</option>
					  <option value="female">female</option>
					</select>
				</div>				
				<div class="profileTitle">
					<p>LANGUAGE</p>
				</div>
				<div class="profileContent">
					<p>Korean, English, French, Chinese</p>
				</div>
				<div class="profileTitle">
					<p>STUDYING</p>
				</div>
				<div class="profileContent">
					<p>Sanskrit, Latin</p>
				</div>
				<div class="profileTitle">
					<p>LOCATION</p>
				</div>
				<div class="profileContent">
					<p>Shinchon, Naksungdae, Kangbyun</p>
				</div>
				<div class="profileTitle">
					<p>SCHOOL / JOB</p>
				</div>
				<div class="profileContent">
					<p>University student</p>
				</div>
				<div class="profileTitle">
					<p>HOBBY</p>
				</div>
				<div class="profileContent">
					<p>Singing</p>
				</div>
				<div class="profileTitle">
					<p>INTRODUCTION</p>
				</div>
				<div class="profileContent">
					<p>Let's be pirates</p>
				</div>
				<div class="profileTitle">
					<p>CONTACT</p>
				</div>
				<div class="profileContent">
					<p>itworks21@naver.com</p>
				</div>
			</div>















				<div id="login" style="margin-top: 20px;">
					<div class="login_row">
							<input type="email" name="user[email]" placeholder="Email" id="signup_email" data-required="required" >
					</div>
					<div class="login_row">
							<input type="password" name="user[password]" placeholder="Password" id="signup_password" data-required="required">						
					</div>
					<button class="btn_signup_submit" id="signup_submit" style="margin-top: 20px;">
	               		<span class="btn_signup">Log in</span>
	    			</button>
				</div>
			</div>

<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/javascripts/default.js"></script>
	</body>
</html>