<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Edit Profile</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<form action="/profile" method="POST" id="back">
					<p style="cursor:pointer" onclick="$('#back').submit()">back</p>
				</form>
				<p>Edit Profile</p>
				<form action="/profile" method="POST" id="edit">
					<p style="cursor:pointer" onclick="$('#edit').submit()">edit</p>
				</form>
			</div>
			<div id="profileDetailWrapper">
				<div class="profileTitle">
					<p>AGE</p>
				</div>
				<div class="profileContent">
					<select>
					  <option value="20">20</option>
					  <option value="21">21</option>
					  <option value="22">22</option>
					  <option value="23">23</option>
					  <option value="24">24</option>
					  <option value="25">25</option>
					  <option value="26">26</option>
					  <option value="27">27</option>
					  <option value="28">28</option>
					  <option value="29">29</option>
					</select>
				</div>
				<div class="profileTitle">
					<p>GENDER</p>
				</div>
				<div class="profileContent">
					<select>
					  <option value="male">male</option>
					  <option value="female">female</option>
					</select>
				</div>				
				<div class="profileTitle">
					<p>LANGUAGE</p>
				</div>
				<div class="profileContent">
					<select>
						<option value="korean">Korean</option>
						<option value="english">English</option>
						<option vlaue="french">French</option>
						<option value="spanish">Spanish</option>
						<option value="chinese">Chinese</option>
					</select>
					<select>
						<option value="great">great</option>
						<option value="good">good</option>
						<option vlaue="normal">normal</option>
						<option value="poor">poor</option>
						<option value="none">none</option>
					</select>
					<div class="language">
						<p class="languageName">Sanskrit</p>
						<p class="languageLevel">Great</p>
					</div>
					<div class="language">
						<p class="languageName">Latin</p>
						<p class="languageLevel">Good</p>
					</div>
					<div class="language">
						<p class="languageName">Korean</p>
						<p class="languageLevel">Good</p>
					</div>
				</div>
				<div class="profileTitle">
					<p>STUDYING</p>
				</div>
				<div class="profileContent">
					<select>
						<option value="korean">Korean</option>
						<option value="english">English</option>
						<option vlaue="french">French</option>
						<option value="spanish">Spanish</option>
						<option value="chinese">Chinese</option>
					</select>
					<select>
						<option value="great">great</option>
						<option value="good">good</option>
						<option vlaue="normal">normal</option>
						<option value="poor">poor</option>
						<option value="none">none</option>
					</select>
					<div class="language">
						<p class="languageName">Sanskrit</p>
						<p class="languageLevel">Great</p>
					</div>
					<div class="language">
						<p class="languageName">Latin</p>
						<p class="languageLevel">Good</p>
					</div>
					<div class="language">
						<p class="languageName">Korean</p>
						<p class="languageLevel">Good</p>
					</div>
				</div>
				<div class="profileTitle">
					<p>LOCATION</p>
				</div>
				<div class="profileContent">
					<button>change location</button>
				</div>
				<div class="profileTitle">
					<p>SCHOOL / JOB</p>
				</div>
				<div class="profileContent">
					<input type="text" placeholder="Add school / job" id="add_job" />
					<p>University student</p>
				</div>
				<div class="profileTitle">
					<p>HOBBY</p>
				</div>
				<div class="profileContent">
					<input type="text" placeholder="Add hobby" id="add_hobby" />
					<p>Singing</p>
				</div>
				<div class="profileTitle">
					<p>INTRODUCTION</p>
				</div>
				<div class="profileContent">
					<textarea rows="4" cols="50">Let's be pirates
					</textarea>
				</div>
			</div>
		</div>	
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/javascripts/default.js"></script>
	</body>
</html>