<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Letterbox</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<form action="/message_profile" method="POST" id="back">
					<p style="cursor:pointer" onclick="$('#back').submit()">back</p>
				</form>
				<p>letterbox</p>
			</div>			
			<div id="letterWrapper">
				<div class="friendsLetter">
					<p>hi chris</p>
				</div><div class="clearboth"></div>
				<div class="myLetter">
					<p>what's up david</p>
				</div><div class="clearboth"></div>
				<div class="friendsLetter">
					<p>I just wanted to say that you are so handsome</p>
				</div><div class="clearboth"></div>
				<div class="friendsLetter">
					<p>I just wanted to say that you are so handsome</p>
				</div><div class="clearboth"></div>
				<div class="myLetter">
					<p>I already know that</p>
				</div><div class="clearboth"></div>
			</div>
		</div>	
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/javascripts/default.js"></script>
	</body>
</html>