<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Letterbox</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<img src="images/nav/nav_new_friends.png" width="100%" height="45" />
			</div>	
			<div id="blankWithoutTab"></div>
			<div id="letterWrapper">
				<div class="friendsLetter">
					<div class="friendsProfile">
						<img class="friendLetterProfilePhoto" src="/images/profile_thum/profilePhoto.jpg" width="40" height="40" />
						<p class="profileName">MAX</p>
						<div class="letterBlank"></div>
					</div>
					<div class="friendsLetterContents">
						<p>hi chris</p>
					</div>
				</div><div class="clearboth"></div>
				<div class="myLetter">
					<div class="myLetterContents">
						<p>what's up david</p>
					</div>
				</div><div class="clearboth"></div>
				<div class="friendsLetter">
					<div class="friendsProfile">
						<img class="friendLetterProfilePhoto" src="/images/profile_thum/profilePhoto.jpg" width="40" height="40" />
						<p class="profileName">MAX</p>
						<div class="letterBlank"></div>
					</div>
					<div class="friendsLetterContents">						
						<p>I just wanted to say that you are so handsome</p>
					</div>
				</div><div class="clearboth"></div>
				<div class="friendsLetter">
					<div class="friendsProfile">
						<img class="friendLetterProfilePhoto" src="/images/profile_thum/profilePhoto.jpg" width="40" height="40" />
						<p class="profileName">MAX</p>
						<div class="letterBlank"></div>
					</div>
					<div class="friendsLetterContents">						
						<p>I just wanted to say that you are so handsome</p>
					</div>
				</div><div class="clearboth"></div>
				<div class="myLetter">
					<div class="myLetterContents">
						<p>I already know that</p>
					</div>
				</div><div class="clearboth"></div>
			</div>
		</div>	
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/javascripts/default.js"></script>
	</body>
</html>