<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Messages</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<img src="images/nav/nav_new_friends.png" width="100%" height="45" />
			</div>
			<div id="blankWithoutTab"></div>			
			<div id="profilePictureWrapper">
				<div id="profileData">
					<div id="profilePicture">
						<img src="/images/profile_thum/profileThumb1.png" />
					</div>
					<div id="name">
						<p>CHRIS</p>
					</div>
					<div id="country">
						<img src="../images/country_thum/korea.png" width="14" height="9" />
						<p>KOREAN</p>
					</div>
				</div>
			</div>
			<div id="friendProfileWrapper">
				<div class="languageContainer" id="friendLanguages">
					<div class="profileTitle">
						<p>LANGUAGE</p>
					</div>
					<div class="profileContent">
						<p>Korean, English, French, Chinese</p>
					</div>
				</div>	
				<div class="languageContainer" id="friendStudying">
					<div class="profileTitle">
						<p>WANT TO STUDY</p>
					</div>
					<div class="profileContent">
						<p>Sanskrit, Latin</p>
					</div>
				</div>	
			</div>
			<div class="clearboth"></div>
			<div id="msgBtns">
				<form action="/letterbox_move" method="POST" id="letterbox">
					<div id="letterBoxBtn" onclick="$('#letterbox').submit()"></div>
				</form>
				<form action="profile_move" method="POST" id="profile">	
					<div id="profileBtn" onclick="$('#profile').submit()"></div>
				</form>	
			</div>
		</div>	
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	</body>
</html>