<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Messages</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<img src="images/nav/nav_new_friends.png" width="100%" height="45" />
			</div>
			<div id="tabBar">
				<form action="/new_friends_move" method="POST" id="new_friends">
					<div id="newFriendsTab" style="cursor:pointer" onclick="$('#new_friends').submit()"></div>
				</form>	
				<form action="/profile_move" method="POST" id="profile">
					<div id="profileTab" style="cursor:pointer" onclick="$('#profile').submit()"></div>
				</form>
				<form action="/messages_move" method="POST" id="messages">
					<div id="messagesTabLt" style="cursor:pointer" onclick="$('#messages').submit()"></div>
				</form>				
				<form action="/more_move" method="POST" id="more">
					<div id="moreTab" style="cursor:pointer" onclick="$('#more').submit()"></div>
				</form>
			</div>
			<div id="blank"></div>
			<div class="profileList">
				<form action="/message_profile_move" method="POST" id="message_profile">
					<div class="profileWrapper" onclick="$('#message_profile').submit()">			
						<div class="profileThumbWrapper">
							<div class="profileThumb">
								<img src="../images/profile_thum/samplethum0.png" width="50" height="50" />
							</div>
							<div class="profileBrief">	
								<p class="profileName">MAX</p>
								<img src="../images/country_thum/china.png" class="flags" width="19" height="19" />
							</div>
						</div>
						<div class="profileInfo">
							<div class="profileInfoRow">
								<p class="profileInfoRowTitles">CAN</p>
								<p class="profileInfoRowContents">KOREAN, ENGLISH</p>
							</div>
							<div class="profileInfoRow">
								<p class="profileInfoRowTitles">WANT</p>
								<p class="profileInfoRowContents">FRENCH, CHINESE</p>
							</div>
							<div class="profileInfoRow">
								<p class="profileInfoRowTitles">AREA</p>
								<p class="profileInfoRowContents">KANGBYUN</p>
							</div>
						</div>
					</div>
				</form>		
			</div>
		</div>	
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	</body>
</html>