<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>More</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<p>More</p>
			</div>
			<div id="tabBar">
				<form action="/new_friends" method="POST" id="new_friends">
					<p style="cursor:pointer" onclick="$('#new_friends').submit()">new_friends</p>
				</form>
				<form action="/profile" method="POST" id="profile">
					<p style="cursor:pointer" onclick="$('#profile').submit()">profile</p>
				</form>
				<form action="/messages" method="POST" id="messages">
					<p style="cursor:pointer" onclick="$('#messages').submit()">messages</p>
				</form>				
				<form action="/more" method="POST" id="more">
					<p style="cursor:pointer" onclick="$('#more').submit()">more</p>
				</form>
			</div>			
			<div id="moreRow1">
				<form action="/notice" method="POST" id="notice">
					<div class="moreContent" onclick="$('#notice').submit()">
						<p>Notice</p>
					</div>
				</form>	
				<form action="/help" method="POST" id="help">
					<div class="moreContent" onclick="$('#help').submit()">
						<p>Help</p>
					</div>
				</form>
				<form action="/version" method="POST" id="version">
					<div class="moreContent" onclick="$('#version').submit()">
						<p>Version</p>
					</div>
				</form>	
			</div>
			<div id="moreRow2">
				<form action="/contact" method="POST" id="contact">
					<div class="moreContent" onclick="$('#contact').submit()">
						<p>Contact</p>
					</div>
				</form>			
				<div class="moreContent">
					<p>Logout</p>
				</div>
				<div class="moreContent">
					<p></p>
				</div>
			</div>
			<div id="poweredByForleaf">
				<p>powered by Forleaf</p>
			</div>
		</div>	
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/javascripts/default.js"></script>
	</body>
</html>