<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Find your new friends</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<p>new friends</p>
			</div>
			<div id="tabBar">
				<form action="/new_friends" method="POST" id="new_friends">
					<p style="cursor:pointer" onclick="$('#new_friends').submit()">new_friends</p>
				</form>
				<form action="/profile" method="POST" id="profile">
					<p style="cursor:pointer" onclick="$('#profile').submit()">profile</p>
				</form>
				<form action="/messages" method="POST" id="messages">
					<p style="cursor:pointer" onclick="$('#messages').submit()">messages</p>
				</form>				
				<form action="/more" method="POST" id="more">
					<p style="cursor:pointer" onclick="$('#more').submit()">more</p>
				</form>
			</div>				
			<div class="profileList">
				<div class="profileThumb">
					<img src="../images/profileThumb1.png" />
				</div>
				<div class="profileInfo">
					<div class="profileInfoRow">
						<img src="../images/korea.png" />
						<p>Chris Kim</p>
					</div>
					<div class="profileInfoRow">
						<p>Speaks: </p>
						<p>Korean, English, ...</p>
					</div>
					<div class="profileInfoRow">
						<p>Learning: </p>
						<p>French, Chinese</p>
					</div>
					<div class="profileInfoRow">
						<p>Near at: </p>
						<p>낙성대, 신촌, 강변</p>
					</div>
				</div>
			</div>

			<div id="recReqToggle">
				<span class="recBtns" id="toggleToRecommend" style="display: none">recommend</span>
				<span class="recBtns">recommend clicked</span>

				<span class="reqBtns" id="toggleToRequest">request</span>
				<span class="reqBtns" style="display: none">request Clicked</span>
			</div>
			<div class="recommendAndRequest"> <!-- 친구 추천 -->
				<div class="profileList">				
					<div class="profileThumb">
						<img src="../images/profileThumb2.png" />
					</div>
					<div class="profileInfo">
						<div class="profileInfoRow">
							<img src="../images/china.png" />
							<p>JJounggue</p>
						</div>
						<div class="profileInfoRow">
							<p>Speaks: </p>
							<p>Korean, English, ...</p>
						</div>
						<div class="profileInfoRow">
							<p>Learning: </p>
							<p>French, Chinese</p>
						</div>
						<div class="profileInfoRow">
							<p>Near at: </p>
							<p>낙성대, 신촌, 강변</p>
						</div>
					</div>
				</div>
			</div>
			<div class="recommendAndRequest" style="display: none"> <!-- 친구 요청 -->
				<div class="profileList">				
					<div class="profileThumb">
						<img src="../images/profileThumb2.png" />
					</div>
					<div class="profileInfo">
						<div class="profileInfoRow">
							<img src="../images/india.png" />
							<p>Indian</p>
						</div>
						<div class="profileInfoRow">
							<p>Speaks: </p>
							<p>Korean, English, ...</p>
						</div>
						<div class="profileInfoRow">
							<p>Learning: </p>
							<p>French, Chinese</p>
						</div>
						<div class="profileInfoRow">
							<p>Near at: </p>
							<p>낙성대, 신촌, 강변</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/javascripts/default.js"></script>
	</body>
</html>