<html>
	<head>
		<title>Find your new friends</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<p>new friends</p>
			</div>
			<div class="profileList">
				<div class="profileThumb">
					<img src="../images/profileThumb1.png" />
				</div>
				<div class="profileInfo">
					<div class="profileInfoRow">
						<img src="../images/korea.png" />
						<p>Chris Kim</p>
					</div>
					<div class="profileInfoRow">
						<p>Speaks: </p>
						<p>Korean, English, ...</p>
					</div>
					<div class="profileInfoRow">
						<p>Learning: </p>
						<p>French, Chinese</p>
					</div>
					<div class="profileInfoRow">
						<p>Near at: </p>
						<p>낙성대, 신촌, 강변</p>
					</div>
				</div>
			</div>

			<div id="recReqToggle">
				<span id="toggleToRecommend"><button>recommend</button></span>
				<span id="toggleToRequest"><button>request</button></span>
			</div>
			<div class="recommendAndRequest">
				<div class="profileList">				
					<div class="profileThumb">
						<img src="../images/profileThumb2.png" />
					</div>
					<div class="profileInfo">
						<div class="profileInfoRow">
							<img src="../images/china.png" />
							<p>JJounggue</p>
						</div>
						<div class="profileInfoRow">
							<p>Speaks: </p>
							<p>Korean, English, ...</p>
						</div>
						<div class="profileInfoRow">
							<p>Learning: </p>
							<p>French, Chinese</p>
						</div>
						<div class="profileInfoRow">
							<p>Near at: </p>
							<p>낙성대, 신촌, 강변</p>
						</div>
					</div>
				</div>
			</div>
			<div class="recommendAndRequest">
				<div class="profileList">				
					<div class="profileThumb">
						<img src="../images/profileThumb2.png" />
					</div>
					<div class="profileInfo">
						<div class="profileInfoRow">
							<img src="../images/india.png" />
							<p>Indian</p>
						</div>
						<div class="profileInfoRow">
							<p>Speaks: </p>
							<p>Korean, English, ...</p>
						</div>
						<div class="profileInfoRow">
							<p>Learning: </p>
							<p>French, Chinese</p>
						</div>
						<div class="profileInfoRow">
							<p>Near at: </p>
							<p>낙성대, 신촌, 강변</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>