<html>
	<head>
		<title>Find your new friends</title>
		<link rel="stylesheet" type="text/css" href="./default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<p>new friends</p>
			</div>
		</div>
	</body>
</html>