<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>Version</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/default.css">
	</head>
	<body>
		<div id="whole">
			<div id="naviBar">
				<form action="/more_move" method="POST" id="back">
					<div id="backBtn" style="cursor:pointer" onclick="$('#back').submit()"></div>
				</form>				
				<div id="versionNav"></div>
			</div>
			<div id="blankWithoutTab"></div>
			<div id="versionData">
				<div id="currentVersion">
					<p class="versionTitle">NOW is</p>
					<p class="versionInfo">0.1</p>
				</div>
				<div class="clearboth"></div>
				<a href="http://www.1artist1week.com" alt="download new version" style="cursor: pointer" target="_blank">
					<div id="latestVersion">
						<p class="versionTitle">NEW is</p>
						<div id="downloadNew"></div>
						<p id="newVersionInfo">0.2</p>
					</div>
				</a>
			</div>
			<div id="poweredByForleaf"></div>
		</div>	
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	</body>
</html>